<nav class="navbar navbar-expand navbar-dark bg-primary">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" href="" routerLink="/blog" routerLinkActive="active">Blog</a></li>
		<li class="nav-item"><a class="nav-link" href="" routerLink="/login" routerLinkActive="active" *ngIf="getLevel() == 0">Connexion / Inscription</a></li>
		<li class="nav-item"><a class="nav-link" href="" routerLink="/admin" routerLinkActive="active" *ngIf="getLevel() >= 2">Administration</a></li>
		<li class="nav-item"><a class="nav-link" href="" routerLink="/logout" routerLinkActive="active" *ngIf="getLevel() > 0">Deconnexion</a></li>
	</ul>
	<span class="navbar-text">© Burkhalter Yannis 2021</span>
</nav>
<div class="container">
	<router-outlet></router-outlet>
</div>