<nav class="navbar navbar-expand navbar-dark bg-primary">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" href="" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
		<li class="nav-item"><a class="nav-link" href="" routerLink="/blog" routerLinkActive="active">Blog</a></li>
		<li class="nav-item"><a class="nav-link" href="" routerLink="/login" routerLinkActive="active">Connexion / Inscription</a></li>
		<li class="nav-item"><a class="nav-link" href="" routerLink="/admin" routerLinkActive="active">Administration</a></li>
		<li class="nav-item"><a class="nav-link" href="" routerLink="/logout" routerLinkActive="active">Deconnexion</a></li>
	</ul>
	<span class="navbar-text">© Burkhalter Yannis</span>
</nav>
<div class="container">
	<router-outlet></router-outlet>
</div>